@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --label: #D6CAF8;
  --black: #000000;
  --header: #0D1122;
  --fondo-container: #1e1e1eb5;
  --letter: #CBF4F7;
  --white: #ffff;
  --button: #524388;
  --hover: #00eeff80;
  /* --sm: 14px;
  --md: 16px;
  --lg: 20px; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

header {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

header {
  margin: 0;
}

header img {
  width: 250px;
  margin: 30px 50px 0px;
  position: fixed;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: linear-gradient(0deg, rgb(0 0 0 / 57%), rgb(0 0 0 / 0%)), url(./assets/img/principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-main {
  height: 100vh;
  display: flex;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
}

.texto-login {
  display: flex;
  flex-direction: column;
  width: 560px;
}

/* Animacion texto login */
.texto-login-ani {
  animation: texto-login-ani 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  -webkit-animation: texto-login-ani 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes texto-login-ani {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes texto-login-ani {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Fin animaciones */

.texto-login h1 {
  color: var(--letter);
  font-weight: bold;
  font-size: 90px;
  text-align: center;
}

.texto-login p {
  color: var(--letter);
  font-weight: bold;
  font-size: 35px;
  /* letter-spacing: 13px; */
  opacity: 0.8;
  margin-top: 20px;
  text-align: center;
}


.login {
  width: 560px;
  background: var(--fondo-container);
  box-shadow: 0 0px 1px rgb(255 255 255), 0 2px 3px var(--letter);
  height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form a {
  text-align: center;
  margin: 10px;
  color: var(--letter);
}


form a {
  text-align: center;
  margin: 10px;
  color: var(--letter);
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--label);
  font-size: 16px;
}

input {
  border-radius: 8px;
  height: 40px;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 30px;
  color: var(--button);
  border: none;
}

input::placeholder {
  color: var(--label);
}

#toggle {
  cursor: pointer;
  color: var(--button);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: -60px;
  right: -90%;
  width: 30px;
}

#toggle::before {
  content: '\f06e';
  font-family: fontAwesome;
}

#toggle.hide::before {
  content: '\f070';
}

.button {
  background-color: var(--button);
  border-color: var(--letter);
}

.login h3 {
  color: var(--letter);
  text-align: center;
  margin: 20px;
  font-weight: lighter;
}

button {
  background-color: var(--button);
  border-color: var(--letter);
  border-radius: 8px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  border: none;
}

button a {
  text-decoration: none;
  color: var(--letter);
}


/* button:hover,
a:hover {
  background-color: var(--label);
  animation: .1s ease-in;
  color: #000000;
} */

/* html {
  height: 100%;
} */

/* -----------------Pie de Pagina --------------------*/

.footer {
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-logos-co img {
  width: 70px;
  height: 45px;
  margin: 5px;
}

.copyright {
  color: var(--letter);
  font-size: 12px;
  opacity: .3;
}

/* Validacion del correo */
#text {
  display: block;
  font-weight: bold;
  font-style: oblique;
  position: relative;
  top: -25px;
  text-align: center;
}

/* Responsive */
@media (max-width: 920px) {
  .container-main {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .texto-login h1 {
    font-size: 70px;
  }
  .texto-login p {
    font-size: 30px;
  }
  header img {
    margin: 15px;
    width: 220px;
  }
  .login {
    width: 500px;
  }
}