@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --label: #D6CAF8;
  --black: #000000;
  --header: #0D1122;
  --fondo-container: #1e1e1eb5;
  --letter: #CBF4F7;
  --white: #ffff;
  --button: #524388;
  --hover: #00eeff80;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

body {
  display: flex;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/imagen-fondo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  backdrop-filter: blur(2px);
}

header {
  width: 100%;
  height: 120px;
  /* background-color: var(--header); */
}

header img {
  width: 250px;
  margin: 10px;
}

.profile-image {
  margin-top: 8px;
  margin-right: 50px;
}

.profile-image img {
  width: 75px;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 120px;
  margin: 0px 50px 0px 50px;
}

.nav .logo {
  margin-top: 35px;
}

.container-list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 60vh;
}

.container-list ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-weight: bold;
}

.container-list ul li {
  list-style-type: none;
}

.container-list ul li a {
  color: var(--label);
  text-decoration: none;
  font-size: 25px;
}

.container-list ul li a:hover {
  color: var(--letter);
  text-decoration-line: underline;
  font-weight: bold;
}

.container-account {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.container-account ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 200px;
  text-align: center;
  margin: 25px 0px -192px 60px;
  background-color: var(--button);
  color: var(--letter);
  font-size: 20px;
  border-radius: 20px;
}

.container-account:hover {
  background-color: var(--button);
  width: 200px;
}

.container-account:hover ul {
  display: block;
  text-align: center;
}

.container-account li {
  margin: 16px 0;
}

.container-account li a {
  color: #ffffff;
  text-decoration: none;

}

.container-account li a:hover {
  text-decoration: underline;
}

.container-main {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
}

.container-informacion {
  color: var(--header);
  width: 650px;
  text-align: justify;
  background-color: rgba(253, 255, 255, 0.5);
  border-radius: 10px;
  padding: 25px;
  /* margin: 100px 0px; */
}

.text-info h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  color: var(--label);
}

.text-info p {
  color: var(--button);
  /* font-size: 1px; */
  font-weight: 600;
  line-height: 1.5;
  justify-content: center;
  text-align: justify;
}

.icon-closed {
  margin-left: 560px;
  /* margin-top: 20px; */
}