@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --label: #D6CAF8;
  --black: #000000;
  --header: #0D1122;
  --fondo-container: #1e1e1eb5;
  --letter: #CBF4F7;
  --white: #ffff;
  --button: #524388;
  --hover:#00eeff80;
  /* --sm: 14px;
  --md: 16px;
  --lg: 20px; */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

header img {
  width: 250px;
  margin: 50px 50px 0px;
  top: 10px;
  position: fixed;
}

body {
  background-image: url(../assets/img/foto_fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 125px 0px 0px;
}
.container-main {
  margin: 100px 0px;
}
.register {
  width: 620px;
  background: var(--fondo-container);
  box-shadow: 0 2px 4px rgb(255 255 255), 0 2px 10px var(--letter);
  height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  /* margin-top: 100px; */
  text-transform: capitalize;
  /* margin: 100px 0px; */
}
.icon-closed {
  margin-left: 550px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* gap: 25px; */
  margin-top: 20px;
}

.title {
  margin-top: -20px;
}

.title h2 {
  text-align: center;
  color: var(--letter);
  font-size: 30px;
}
.contact-details {
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  text-align: center;
}

.contact-details label{
  margin-bottom: 10px;
}

label {
  font-weight: 400;
  margin-bottom: 30px;
  color: var(--label);
  font-size: 16px;
}

input {
  border-radius: 8px;
  height: 40px;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 30px;
  color: var(--button);
  border: none;
  margin-top: 5px;
}

input::placeholder{
  color: var(--label);
}

.second-details {
  display: grid;
  grid-template-columns: 105px 395px;
  justify-content: center;
  align-items: center;
}

.second-details input {
  width: 364px;
}

button {
  background-color: var(--button);
  border-color: var(--letter);
  border-radius: 8px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  border: none;
  margin: 5px 170px;
}

button a {
  text-decoration: none;
  color: var(--letter);
}

button:hover, button a:hover  {
  background-color: var(--label);
  animation: .1s ease-in;
  color: #000000;
}